name: Build and Push docker images

on: workflow_dispatch

jobs:
  build:
    name: Build the Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          tags: ghcr.io/${{github.repository}}
          push: true
          build-args: |
            NPM_TOKEN=${{secrets.NPM_AUTH_TOKEN}}
            
